## Converting Data Types

### 1. Integer

In [133]:
num = 7
type(num)  # Check type of the variable 'num'. Expected output: <class 'int'>

int

### 2. String

In [136]:
str = '7'
type(str)

str

In [140]:
# Converting string to integer for valid addition
str_conv = int(str)  # Convert string 'str' to an integer
type(str_conv)  # Check type of 'str_conv'. Expected output: <class 'int'>

int

In [ ]:
# Now that both num and str_conv are integers, we can perform the addition
num_sum = num + str_conv
print(num_sum)

### 3. List

In [ ]:
#Converting List to Different Data Types

list_type = [1, 2, 3, 3, 4, 4, 5, 6, 6, 8, 8]
type(list_type)

### 4. Tuple

In [ ]:
# Converting a list to a tuple
tuple(list_type)

In [ ]:
type (tuple (list_type))

### 5. Set

In [ ]:
# Converting the list to a set
set(list_type)

In [ ]:
type (set (list_type))

### 6. Dictionary

In [ ]:
dict_type = {'name': 'sepideh', 'city': 'pavia', 'education': 'master'}
print (dict_type)

In [ ]:
type (dict_type)

In [ ]:
# Getting dictionary items (key-value pairs)
dict_type.items()  # Returns dictionary items as a view object

In [ ]:
# Getting dictionary values
dict_type.values()  # Returns dictionary values as a view object

In [ ]:
# Getting dictionary keys
dict_type.keys()  # Returns dictionary keys as a view object

In [ ]:
# Converting dictionary values to a list
list(dict_type.values())  # Converts dictionary values to a list

In [ ]:
type (list (dict_type.values()))

In [ ]:
# Converting dictionary items to a tuple
tuple(dict_type.items())

In [ ]:
type (tuple (dict_type.items()))

### 7. Long string

In [ ]:
long_str = ' I like to dance'

In [ ]:
list(long_str)  # Splits string into a list of individual characters, including spaces

In [ ]:
set(long_str)  # Converts string to a set, removing duplicate characters and spaces